.payee-card {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(115, 115, 115, 0.125);
  border-radius: 4px;
  word-wrap: break-word;
  margin: 10px;
  padding: 0px;
  width: 15%;
  height: auto;
  box-shadow: 7px 6px 5px 0px rgba(230,230,230,1);
  color: #4c4c4c;
  min-width: 275px;
  position: relative;
}

.payee-card__image {
  height: 205px;
  width: 100%;
}

.payee-card__title {
  padding: 5px;
}

.name__title {
  width: 100%;
  height: auto;
  font-family: Impact, fantasy;
  padding-bottom: 1px;
  line-height: 10px;
}

.payee-card__information-content {
  z-index: 2;
  overflow: Auto;
  top: calc(100% + 20px);
  position: absolute;
  max-width: 270px;
  max-height: 170px;
  box-shadow: 7px 6px 5px 0px rgba(230,230,230,1);
  border: 1px solid rgba(115, 115, 115, 0.125);
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

.payee-card__information-content::after{
  content: '';
  position: absolute;
  left: 10%;
  top: -1%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgb(189, 185, 182);
  clear: both;
}