.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  width: auto;
  height: auto;
  margin-left: 10px;
  word-spacing: 3px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.close-massage {
  margin-left: 50px;
  margin-right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.success {
  background-color: rgb(153, 193, 92);
}

.warning {
  background-color: rgb(235, 132, 48);
}

.danger {
  background-color: rgb(216, 54, 92);
}
