.payee-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: auto;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
}

.one {
  width: 40%;
  padding: 10px;
  line-height: 30px;
}

.two {
  width: 40%;
  padding: 10px;
  line-height: 30px;
}

.label {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #000000;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
}

.input {
  border: 1px solid #cccccc;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  background: #ffffff !important;
  outline: none;
  height: 24px;
  width: 280px;
  color: #ffffff;
  font-size: 16px;
  font-family: Tahoma;
}

.input:focus {
  color: #000000;
  border: 1px solid #13e5f8;
}

.payee-form-cansel,
.payee-form-save {
  background-color: rgb(21, 21, 218);
  color: white;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
}

.payee-form-cansel,
.payee-form-save:focus {
  outline: none;
}
