.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  font-size: 25px;
  background-color: rgb(37, 126, 247);
  width: auto;
  height: 50px;
}

.header_link {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  color: white;
}
